.about {
    margin: 0 auto;
    width: 1150px;
}

.about__text {
    color: #121212;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    padding-left: 3px;
    margin-bottom: 26px;
}

.services__button {
    display: block;
    width: 255px;
    background-color: #AD1818;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.6px;
    text-decoration: none;
    margin-bottom: 150px;
}

.services__button:hover {
    background-color: #FFFFFF;
    color: #AD1818;
    border: 1px solid #AD1818;
}

@media (max-width: 1199px) {

    .about {
        width: 100%;
        padding-left: 17px;
    }

    .about__text {
        width: 690px;
        font-size: 35px;
        letter-spacing: -1.05px;
        margin-bottom: 30px;
    }

    .services__button {
        margin-bottom: 120px;
    }

    .services__button:hover {
        background-color: #AD1818;
        color:#FFFFFF;
    }

    .services__button:active {
        background-color: #FFFFFF;
        color: #AD1818;
        border: 1px solid #AD1818;
    }
}

@media (max-width: 767px) {

    .about {
        padding-left: 13px;
        padding-right: 16px;
    }

    .about__text {
        width: 345px;
        font-size: 22px;
        letter-spacing: -0.66px;
        padding-left: 0px;
    }

    .services__button {
        width: 194px;
        border-radius: 4px;
        font-size: 16px;
        letter-spacing: -0.48px;
        line-height: 51px;
        margin-bottom: 80px;
    }
}