@import "/styles/intro.css";
@import "/styles/project.css";
@import "/styles/styles.css";

.about {
    margin: 0 auto;
    width: 1150px;
    background-color: #FFFFFF;
}

h2 {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    margin-bottom: 30px;
}

.about__text {
    color: #121212;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    padding-left: 3px;
    margin-bottom: 26px;
}

.services__button {
    display: block;
    width: 255px;
    background-color: #AD1818;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.6px;
    text-decoration: none;
    margin-bottom: 150px;
}

@media (max-width: 1199px) {

    .about {
        width: 100%;
        padding-left: 17px;
    }

    .about__text {
        width: 690px;
        font-size: 35px;
        letter-spacing: -1.05px;
        margin-bottom: 30px;
    }

    .services__button {
        margin-bottom: 120px;
    }
}

@media (max-width: 767px) {

    .about {
        width: 100%;
        padding-left: 13px;
        padding-right: 16px;
    }

    h2 {
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }

    .about__text {
        width: 346px;
        font-size: 22px;
        letter-spacing: -0.66px;
    }

    .services__button {
        width: 194px;
        border-radius: 4px;
        font-size: 16px;
        letter-spacing: -0.48px;
        line-height: 51px;
        margin-bottom: 80px;
    }
}