footer {
    background-color: #121212;
    padding: 60px 0 30px 0;
}

.footer__nav__wrapper {
    margin: 0 auto;
    width: max-content;
    padding-right: 10px;
    margin-bottom: 87px;
}

.nav-2 {
    display: flex;
    column-gap: 55px;
}

.nav__link-2 {
    color: #FFFFFF;
}

.nav__link-2:hover {
    border-bottom: 0;
}

.menu__link2__active {
    opacity: 0.5;
}

.footer__text {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    padding-left: 9px;
}

@media (max-width: 1199px) {

    .nav__link-2:hover {
        opacity: 1;
    }

     .nav__link-2:active {
        opacity: 0.5;
     }
}

@media (max-width: 800px) {
    footer {
        background-color: #121212;
        padding: 30px 0 26px 0;
    }

    .footer__nav__wrapper {
        padding-right: 0;
        margin-bottom: 41px;
    }

    .nav-2 {
        column-gap: 30px;
    }

    .nav__link-2 {
        font-size: 12px;
        letter-spacing: -0.36px;
    }

    .footer__text {
        font-size: 13px;
        letter-spacing: -0.39px;
        padding-left: 0;
    }
}