.gallery {
    position: relative;
    height: 717px;
}

.gallery__title {
    position: absolute;
    top: 67px;
    z-index: 100;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
}

.gallery__container {
    width: 1150px;
    margin: 0 auto;
}

.gallery__container__control {
    width: 1170px;
    margin: 0 auto;
}

.gallery__slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.gallery__slide_active {
    opacity: 1;
}

.gallery__img {
    width: 100%;
    height: 717px;
    object-fit: cover;
    object-position: center;
}

.gallery__text {
    position: absolute;
    top: 575px;
    color: #fff;
    width: 443px;
    margin-bottom: 0px;
}

.gallery__control-prev, .gallery__control-next {
    background: none;
    border: 0;
    padding: 0;
}

.gallery__control-prev:hover, .gallery__control-next:hover {
    opacity: 0.5;
    cursor: pointer;
}

.gallery__control__flex {
    position: absolute;
    bottom: 162px;
    display: flex;
    width: max-content;
    column-gap: 14px;
}

@media (max-width: 1199px) {

    .gallery  {
        height: 536px;
    }

    .gallery__container {
        width: 100%;
    }

    .gallery__container__control {
        width: 100%;
    }

    .gallery__img {
        height: 536px;
    }

    .gallery__title {
        top: 80px;
        left: 50px;
        font-size: 20px;
        letter-spacing: -0.6px;
    }

    .gallery__control__flex {
        left: 41px;
        bottom: 152px;
    }

    .gallery__text {
        width: 374px;
        left: 50px;
        top: 388px;
    }

    .gallery__control-prev:hover, .gallery__control-next:hover {
        opacity: 1;
    }

    .gallery__control-prev:active, .gallery__control-next:active {
        opacity: 0.5;
    }
}

@media (max-width: 800px) {

    .gallery  {
        height: 408px;
    }

    .gallery__img {
        height: 408px;
    }

    .gallery__control__img {
        width: 30px;
        height: 30px;
    }

    .gallery__title {
        top: 61px;
        left: 12px;
        font-size: 14px;
        letter-spacing: -0.42px;
    }

    .gallery__control__flex {
        bottom: 189px;
        left: 6px;
        justify-content: space-between;
        width: calc(100% - 12px);
    }

    .gallery__text {
        left: 13px;
        top: 296px;
        width: 284px;
        font-size: 19px;
        letter-spacing: -0.57px;
    }
}