header {
    margin: 0 auto;
    width: 1150px;
    padding-top: 33px;
    margin-bottom: 72px;
}

.logo__image { 
    width: 127px;
    height: 21px;
}

.nav {
    display: flex;
    float: right;
    column-gap: 60px;
}

.nav__link {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-decoration: none;
}

.burger-btn {
    display: none;
}

.menu__link__active {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);   
}

.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
}

.burger {
    display: none;
}



@media (max-width: 1199px) {

    header {
        width: 100%;
        padding: 33px 16px 0 16px;
    }

    .nav {
        display: none;
    }

    .burger-btn__flex {
        display: flex;
        width: max-content;
        float: right;
    }

    .burger-btn {
        display: block;
        width: 50px;
        height: 10px;
        background-image: url(../resources/burger_icon.png);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }

    .burger {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 20;
        transition: all 0.3s ease;
    }

    .burger {
        opacity: 0;
        visibility: hidden;
    }

    .burger_open {
        opacity: 1;
        visibility: visible;
    }

    .burger__content {
        position: relative;
        width: 73%;
        height: 100%;
        background-color: #fff;
        float: right;
        max-height: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }

    .burger-btn_open {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 40;
        width: 34px;
        height: 34px;
        background-image: url(../resources/close-btn.png);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        float: none;
    }

    .logo__image__burger {
        position: absolute;
        top: 80px;
        left: 30px;
        width: 156px;
        height: 26px;
    }
    
    .nav__burger {
        display: flex;
        flex-direction: column;
        padding-top: 156px;
        padding-left: 30px;
        row-gap: 20px;
        margin-bottom: 90px;
    }

    .nav__link__burger {
        font-size: 25px;
        line-height: -0.75px;
    }

    .burger__flex {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        padding-left: 33px;
    }

    .burger__flex__text {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.48px;
        opacity: 0.5;
    }

    .contacts__text__flex {
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: normal; 
        letter-spacing: -0.6px;
        text-decoration: none;
    }
}

@media (max-width: 800px) {

    header {
        padding: 31px 13px 0 13px;
        margin-bottom: 61px;
    }

    .logo__image { 
        width: 96px;
        height: 16px;
    }

    .burger-btn {
        width: 38px;
        height: 8px;
    }

    .burger-btn_open {
        width: 34px;
        height: 34px
    }
}