.project {
    margin: 0 auto;
    width: 1150px;
    background-color: #FFFFFF;
}

h3 {
    color: #121212;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.jk__img {
    width: 100%;
    height: 450px;
    margin-bottom: 15px;
}

.jk__link {
    color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.jk1, .jk2, .jk3 {
    margin-bottom: 88px;
}

.watch__all-buttom {
    display: block;
    width: 100%;
    border: 1px solid #AD1818;
    color: #AD1818;
    font-size: 30px;
    font-weight: 400;
    line-height: 151px;
    letter-spacing: -0.9px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 150px;
}

.watch__all-buttom:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

@media (max-width: 1199px) {
    
    .project {
        width: 100%;
        padding-left: 15px;
        padding-right: 17px;
    }

    .jk__img {
        object-fit: cover;
        object-position: center;
    }

    h3 {
        font-size: 25px;
        letter-spacing: -0.75px;
        margin-bottom: 10px;
    }

    .jk1, .jk2 {
        margin-bottom: 78px;
    }

    .jk3 {
        margin-bottom: 100px;
    }

    .watch__all-buttom {
        margin-bottom: 100px;
    }
}

@media (max-width: 767px) {
    
    .project {
        padding-left: 13px;
        padding-right: 13px;
    }

    .jk__img {
        object-fit: cover;
        object-position: center;
        height: 250px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: -0.54px;
        margin-bottom: 11px;
    }

    .jk__link {
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .jk1, .jk2 {
        margin-bottom: 49px;
    }

    .jk3 {
        margin-bottom: 60px;
    }

    .watch__all-buttom {
        border-radius: 4px;
        font-size: 22px;
        letter-spacing: -0.66px;
        line-height: 98px;
        margin-bottom: 80px;
    }
}