.reviews {
    margin: 0 auto;
    width: 1150px;
    padding-top: 152px;
    padding-bottom: 150px;
}

.reviews__container__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.reviews__box__flex {
    width: 529px;
    height: 465px;
}

.reviews__box__flex__big {
    width: 861px;
    height: 375px;
}

.reviews__title__text {
    color: #000;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    margin-bottom: 14px;
}

.reviews__text {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
}

@media (max-width: 1199px) {

    .reviews {
        width: 100%;
        padding: 120px 15px 120px 16px;
    }

    .reviews__container__flex {
        justify-content: space-between;
        gap: 0px;
        row-gap: 80px;
    }
    
    .reviews__box__flex {
        width: calc(50% - 5px);
        height: max-content;
    }

    .reviews__box__flex__big {
        width: 694px;
        height: 370px;
    }

    .reviews__title__text {
        font-size: 35px;
        letter-spacing: -1.05px;
        margin-bottom: 25px;
    }

    .reviews__text {
        font-size: 20px;
        letter-spacing: -0.6px;
    }
}

@media (max-width: 767px) {

    .reviews {
        padding: 80px 13px 80px 13px;
    }

    .reviews__title {
        margin-bottom: 22px;
    }

    .reviews__container__flex {
        flex-direction: column;
        row-gap: 77px;
    }

    .reviews__box__flex {
        width: 100%;
        height: max-content;
    }

    .reviews__title__text {
        font-size: 25px;
        letter-spacing: -0.75px;
        margin-bottom: 9px;
    }

    .reviews__text {
        font-size: 16px;
        letter-spacing: -0.48px;
    }
}

