.service {
    background-color: #121212;
}

.service__container {
    margin: 0 auto;
    width: 1150px;
    padding: 150px 0;
}

.service__title {
    color: #FFFFFF;
    padding-left: 2px;
}

.service__container__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
    margin-bottom: 104px;
}

.service__box__flex {
    position: relative;
    width: calc(50% - 5px);
    height: 453px;
}

.service__img {
    width: 100%;
    height: 388px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
}

.service__img-1 {
    background-image: url(../resources/Rectangle_2.png);
}

.service__img-2 {
    background-image: url(../resources/Rectangle_3.png);
}

.service__img-3 {
    background-image: url(../resources/Rectangle_4.png);
    margin-left: 2px;
}

.service__img-4 {
    background-image: url(../resources/Rectangle_5.png);
}

.service__text {
    color: #FFF;
    padding-left: 3px;
    margin-bottom: 0px
}

.service__box__text {
    display: block;
    position: absolute;
    left: 31px;
    top: 33px;
    width: max-content;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.66px;
}

.services__button-2 {
    width: 100%;
    border-radius: 5px;
    background-color: #AD1818;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.9px;
}

.services__button-2:hover {
    background-color: #FFF;
    color: #AD1818;
}

@media (max-width: 1199px) {

    .service__container {
        width: 100%;
        padding: 151px 15px 120px 15px;
    }

    .service__container__flex {
        row-gap: 80px;
        margin-bottom: 79px;
    }

    .service__title {
        padding-left: 4px;
    }

    .service__box__flex {
        height: 364px;
    }

    .service__img {
        background-size: cover;
        background-position: center;
        margin-bottom: 15px;
        height: 315px;
    }

    .service__box__text {
        padding-left: 28px;
        padding-right: 28px;
        font-size: 20px;
        letter-spacing: -0.6px;
    }

    .service__text {
        padding-left: 0px;
    }

    .service__img-3{
        margin-left: 0px;
    }

    .services__button-2:hover {
        background-color: #AD1818;
        color: #FFF;
    }

    .services__button-2:active {
        background-color: #FFF;
        color: #AD1818;
    }
}

@media (max-width: 800px) {

    .service__container {
        padding: 80px 12px 80px 13px;
    }

    .service__container__flex {
        flex-direction: column;
    }

    .service__box__flex {
        width: 100%;
        height: 274px;
    }

    .service__img {
        width: 100%;
        height: 240px;
        margin-bottom: 10px;
    }

    .service__container__flex {
        row-gap: 58px;
        margin-bottom: 60px;
    }

    .service__title {
        padding-left: 3px;
    }

    .service__box__text {
        left: 24px;
        top: 24px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
        letter-spacing: -0.42px;
        line-height: 30px;
    }

    .service__text {
        font-size: 18px;
        letter-spacing: -0.54px;
    }

    .services__button-2 {
        border-radius: 4px;
        font-size: 22px;
        letter-spacing: -0.66px;
        line-height: 100px;
    }
}
