html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    width: 100%;
}

header {
    margin: 0 auto;
    width: 1400px;
    padding-top: 33px;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 72px;
}

footer {
    background-color: #121212;
    padding-top: 60px;
    padding-bottom: 30px;
}

h1 {
    color: #121212;
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    margin-bottom: 30px;
}

h2 {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    margin-bottom: 30px;
}

h3 {
    color: #121212;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.intro {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-left: 125px;
    padding-right: 125px;
}

.int__img { 
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url(/resources/Rectangle\ 1.png);
    margin-bottom: 150px;    
}

.int__img__text {
    position: absolute;
    top: 379px;
    left: 40px;
    bottom: 40px;
    color: #FFFFFF;
    width: 430px;    
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.about {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-right: 224px;
    padding-left: 125px;
}

.about__text {
    color: #121212;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    padding-left: 3px;
    margin-bottom: 26px;
}

.services__button {
    display: block;
    width: 255px;
    background-color: #AD1818;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.6px;
    text-decoration: none;
    margin-bottom: 150px;
}
.project {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 150px;
}

.jk__img {
    width: 100%;
    margin-bottom: 15px;
}

.jk__link {
    color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.jk1, .jk2, .jk3 {
    margin-bottom: 88px;
}

.watch__all-buttom {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    color: #AD1818;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.9px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.watch__all-buttom:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.service {
    background-color: #121212;
}

.service__container {
    margin: 0 auto;
    width: 1400px;
    padding: 150px 125px;
}

.service__title {
    color: #FFFFFF;
    margin-bottom: 36px;
}

.service__img {
    width: 1150px;
    margin-bottom: 13px;
}

.service__text {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    padding-left: 3px;
    margin-bottom: 60px;
}

.service__text:nth-last-child(1) {
    margin-bottom: 0px;
}

.menu {
    float: right;
}

.logo__image { 
    width: 126.889px;
    height: 21.42px;
}
.menu__link {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.54px;
    text-decoration: none;
    margin-left: 57px;
}

.menu__link__active {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);   
}

.menu__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
}
.project-2 {
    height: 717px;
    background-image: url(/resources/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.project-2__container {
    margin: 0 auto;
    position: relative;
    width: 1400px;
    height: 717px;
}

.project-2__text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;   
}

.contacts {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-left: 125px;
    position: relative;
}

.contacts__title {
    margin-bottom: 32px;
    padding-top: 186px;
}

.contacts__title::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 150px;
    left: 120px;
    background-image: url(/resources/ic_outline-phone-iphone.png);
}

.contacts__container {
    width: 472px;
}

.contacts__text__container1 {
    margin-bottom: 30px;  
}

.contacts__text {
    color: #121212;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-decoration: none;
    white-space: pre;
}

.contacts__text__container2 {
    margin-bottom: 160px;
}

.contacts__text1__active {
    opacity: 0.5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
 
.contacts__text:hover {
    opacity: 0.5;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.footer__container {
    margin: 0 auto;
    width: 455px;
    margin-bottom: 89px;
    padding-right: 5px;
}

.menu__link2 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-decoration: none;
    padding-right: 52px;
}

.menu__link2:hover {
    opacity: 0.5;
}

.menu__link2__active {
    opacity: 0.5;
}

.menu__link2:nth-last-child(1) {
    padding-right: 0px;
}

.footer__text {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    padding-left: 3px;
    opacity: 0.5;
}

