html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    width: 100%;
}

h1 {
    color: #121212;
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    margin-bottom: 30px;
}

h2 {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    margin-bottom: 30px;
}

h3 {
    color: #121212;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

button {
    border: 0;
    padding: 0;
}

@media (max-width: 1199px) {

    h1 {
        width: 750px;
        font-size: 48px;
        letter-spacing: -1.5px;
    }

    h3 {
        font-size: 25px;
        letter-spacing: -0.75px;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {

    h1 {
        width: 312px;
        font-size: 30px;
        letter-spacing: -0.9px;
        line-height: 31.621px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: -0.54px;
        margin-bottom: 11px;
    }
}


