body {
    font-family: "Manrope", sans-serif;
    width: 100%;
}

h1 {
    color: #121212;
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    margin-bottom: 30px;
}

h2 {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    margin-bottom: 30px;
}

h3 {
    color: #121212;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.main {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 128px;
}

.image__int { 
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url(../resources/Rectangle\ 1.png);
    margin-bottom: 150px;    
}

.image__int-text {
    position: absolute;
    top: 379px;
    left: 40px;
    bottom: 40px;
    color: #FFFFFF;
    width: 430px;    
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.about {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-right: 224px;
    padding-left: 125px;
}

.about__text {
    color: #121212;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    padding-left: 3px;
    margin-bottom: 30px;
}

.services__button {
    display: block;
    width: 255px;
    background-color: #AD1818;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.6px;
    text-decoration: none;
    margin-bottom: 150px;
}
.project {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 150px;
}

.image__jk {
    width: 100%;
    margin-bottom: 15px;
}

.link__jk {
    color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.jk1, .jk2, .jk3 {
    margin-bottom: 90px;
}

.watch__all-buttom {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    color: #AD1818;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.9px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.watch__all-buttom:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.service {
    margin: 0 auto;
    width: 1400px;
    background-color: #121212;
    padding: 150px 125px;
}

.service__title {
    color: #FFFFFF;
}

.service__img {
    width: 1150px;
    margin-bottom: 15px;
}

.service__text {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    padding-left: 3px;
    margin-bottom: 60px;
}

.service__text:nth-last-child(1) {
    margin-bottom: 0px;
}




